{% extends "catalog/base.html" %}
{ % block content % }
{% if validlink %}
<p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.new_passwordl.errors }}
                <label for="id_new_passwordl">
                Новый пароль:
                </label>
            </td>
            <td>
                {{ form.new_passwordl }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.new_password2.errors }}
                <label for="id_new_password2"> Подтвердите пароль:</label>
            </td>
            <td>
                {{ form.new_password2 }}
            </td>
        </tr>
        <tr>
        <td></td>
        <td>
            <input type="submit" value=" сменить пароль " /></td>
        </tr>
    </table>
</form>
{% else %}
    <hl> Сшибка при смене пароля!!! </hl>
    <p> Ссыпка на сброс пароля быпа недействительной, возможно, потому, что
    она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}