{% extends "catalog/base.html" %}
{% block content %}
    <h1>Ваша корзина</h1>
    {% if cart_items %}
    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Удалить из корзины</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }} руб.</td>
                    {% comment %} <td>{{ item.product.price * item.quantity }} руб.</td> {% endcomment %}
                    <td>
                        <form method="POST" action="{% url 'remove_from_cart' item.product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
        <p>Итого: {{ total_price }} руб.</p>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}