{% extends "catalog/base.html" %}

{% block content %}
<div class="row text-start lh-2">
    <h3>Изменить сведения о товаре</h3>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <table class="text-start">
        {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field.errors }}</td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        <th>
            <button type="submit">Сохранить</button>
        </th>
        <h3>Фотографии</h3>
        <div class="photos">
            {% for photo in photos %}
                <img src="{{ photo.photo.url }}" 
                alt="{{ photo.product_card_id.title }} {{ photo.product_card_id.detail_number }}" 
                style="max-height: 200px" 
                class="img-fluid mb-2">
            {% endfor %}
        </div>
    </table>
</form>

{% endblock %}
