{% extends "catalog/base.html" %}
{% block title %}Авторазбор{% endblock title %}
{% block header %}
    <h5>{{ text_head }}</h5>
{% endblock header %}
{% block content%}
    <div class="container-fluid my-2">
        <div class="row bg-success text-white mx-2">
            <div class="col text-center">
                <p>Здесь вы сможете выбрать запчасти из наличия</p>
            </div>
        </div>
        <div class="row text-center text-dark lh-2">
            <h4>Каталог</h4>
        </div>
        <div class="row my-2 text-white">
            <div class="col mx-2 bg-primary">
                Количество доступных запчастей: {{ num_spares }}
            </div>
            <div class="col mx-2 bg-primary">
                Количество доступных марок: {{ num_brand }}
            </div>
        </div>
        <div class="row text-center text-dark lh-2">
            <h3>Запчасти</h3>
        </div>
        {% if num_spares > 0 %}
            <div class="row my-2">
                {% for obj in spares %}
                    <div class="card m-1" style="width: 11rem">
                        <div class="card-body">
                            {% if obj.photos.all %}
                                <img src="{{ obj.photos.first.photo.url }}" class="card-img-top img-fluid" style="height: 150px; object-fit: cover;" alt="{{ obj.title }}">
                            {% endif %}
                            <p class="card-text small">
                                <a href="{% url 'spare-detail' obj.pk %}">{{ obj.title }} {{ obj.brand_id }} {{ obj.product_model_id }}</a> 
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Цена: {{ obj.price }} руб.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row text-center text-dark lh-2">
            <h6>Число посещений данной страницы {{ num_visits }}</h6>
        </div>
    </div>
{% endblock content %}