{% extends "catalog/base.html" %}
{% block content %}
    <div class="container text-start">
        <div class="row my-2">
            <h1><strong>"{{ spares.title }}" {{ spares.brand_id }} {% if spares.product_model_id%} {{ spares.product_model_id }} {{ spares.detail_number }} {% endif %}</strong></h1>
        </div>
        <div class="row my-2">
            <p><strong>Бренд:</strong> <a href="{{ spares.brand_id }}">{{ spares.brand_id }} </a></p>
        </div>
        <div class="row">
            {% for photo in spares.photos.all %}
                <div class="col-3">
                    <img src="{{ photo.photo.url }}" alt="{{ photo.product_card_id.title }} {{ photo.product_card_id.detail_number }}" 
                    style="max-height: 200px" class="img-fluid mb-2">
                    <a href="{{ photo.photo.url }}" class="btn btn-primary" target="_blank">Показать</a>
                </div>
            {% endfor %}
        </div>
        {% if spares.product_model_id %}
        <div class="row">
            <div class="col">
                <p><strong>Модель:</strong> {{ spares.product_model_id }}</p>
        </div>
        {% endif %}

        <div class="row text-start">
            <p><strong>Артикул:</strong> {{ spares.vendor_code }}</p>
        </div>
        
        {% if spares.detail_number %}
        <div class="row">
            <p><strong>Заводской номер:</strong> {{ spares.detail_number }}</p>
        </div>
        {% endif %}

        <div class="row text-start">
            <p><strong>Описание:</strong> {{ spares.description }}</p>
        </div>
        
        <div class="row my-2">
            <div class="col">
                <p><strong>Цена:</strong> {{ spares.price }} руб.</p>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row my-2">
                {% if not is_in_cart %}
                    <form method="POST" action="{% url 'add_to_cart' spares.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                {% else %}
                    <p>Товар уже в корзине</p>
                {% endif %}
            </div>
        {% else %}
            <div class="row my-2">
                <p>Чтобы добавить в корзину, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
            </div>
        {% endif %}
    </div>
        
        
        
        {% for сору in spares.instance_set.all %}
            <hr>
            <p class="text-muted">
                <strong>Инвентарный нoмep:</strong> {{ copy.id }}</p>
            <p class="text-success">
                <strong>Статус товара:</strong> {{copy.status_id}}</p>
        {% endfor %}
    </div>
{% endblock %}